<main class="main">
  <article class="main__header">
    <div class="inner">
      <h1 class="main__title">Ramadanist</h1>
      <h3 class="main__description">断食特化型ボディメイク競争アプリケーション</h3>
    </div>
  </article>
  <section class="main__service-description">
    <h3 class="service-description">
    <span class="title-logo">Ramadanist</span>ではこんなことが可能です
    </h3>
    .description
    <i class="fas fa-edit"></i>
  </section>
</main>