<main class="main">
  <article class="main__header">
    <img src="/assets//Users/yasudayuu/Dropbox/My Mac (安田悠汰のmacbookair)/Desktop/Myportfolio/Ramadanist/app/assets/images/main-background-img_fasting.jpg" alt="">
  </article>
</main>