<main class="main">
  <article class="main__header">
    <div class="inner">
      <h1 class="main__title">Ramadanist</h1>
      <h3 class="main__description">断食特化型ボディメイク競争アプリケーション</h3>
    </div>
  </article>
  <section class="main__service-description">
    <h3 class="service-description">
    <span class="title-logo">Ramadanist</span>ではこんなことが可能です
    </h3>
    <div class="item-wrapper inner">
      <div class="description-item">
        <div class="description-item__circle-icon">
          <i class="fas fa-edit description-item__circle-icons-content"></i>
        </div>
        <strong class="description-item__heading">記録を投稿する</strong>
        <p class="description-item__paragraph">
          断食は本来自分との戦い。<br>
          他のユーザーと競い合って自分の目標のためのモチベーション維持を行いましょう！
        </p>
      </div>
      <div class="description-item">
        <div class="description-item__circle-icon">
          <i class="fas fa-heart description-item__circle-icons-content escription-item__circle-icons-content--heart"></i>
        </div>
        <strong class="description-item__heading">投稿にリアクションする</strong>
        <p class="description-item__paragraph">
          他の"ラマダー"と一緒に励まし合おう
        </p>
      </div>
      <div class="description-item">
        <div class="description-item__circle-icon">
          <i class="fas fa-question description-item__circle-icons-content description-item__circle-icons-content--question"></i>
        </div>
        <strong class="description-item__heading">疑問や悩みを解決する</strong>
        <p class="description-item__paragraph">
          断食に悩みは付きものです。<br>
          ここにいるたくさんのラマダーに質問して解決しちゃいましょう！
        </p>
      </div>
    </div>
  </section>
</main>