/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* 共通のスタイル */
*{
  margin: auto;
}
.inner{
  width: 1000px;
}
a{
  text-decoration: none;
  color: inherit;
}

/* ヘッダー関連 */
.header{
  width: 100vw;
  height: 50px;
  background-color: #CC6666	;
}
.header__logo{
  font-family: 'Homemade Apple', cursive;
  color: white;
}
.header__nav{
  padding-top: 10px;
}

/* メインコンテンツ */
.main__header{
  width: 100vw;
  height: 800px;
  background-image: url(/assets/main-background-image_ramadan.jpg);
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
}
.main__title{
  margin-top: 150px;
  font-size: 100px;
  font-family: 'Homemade Apple', cursive;
  color: black;
  text-align: center;
}
.main__description{
  text-align: center;
}
.main__service-description{
  width: 100vw;
  height: 600px;
  padding-top: 30px;
  background-color: #CC6666 ;
}
.service-description{
  text-align: center;
  font-size: 48px;
  color: white;
}
.title-logo{
  color: white;
  font-family: 'Homemade Apple', cursive;
}
/* 説明用のアイテム */
.item-wrapper{
  display: flex;
  margin-top: 10px;
}
.description-item{
  width: 380px;
  height: 230px;
  margin: 0;
  text-align: center;
  border: solid black;
}
.description-item__circle-icon{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
}
.description-item__circle-icons-content{
  color: #CC6666;
  font-size: 60px;
  margin-left: 10px;
  margin-top: 20px;
}
.description-item__heading{
  color: white;
  font-size: 24px;
  display: inline;
}
.description-item__paragraph{
  color: white;
  font-size: 16px;
}
/* フッター関連 */
.footer{
  width: 100vw;
  height: 50px;
  background-color: #6b6b6b	;
}